body {
	background: #e6ecf0;
	color: #666666;
	font-family: "Open Sans", sans-serif;
	overflow-x: hidden;
}

a {
	color: #1dc8cd;
	transition: 0.5s;
}

a:hover, a:active, a:focus {
	color: #1dc9ce;
	outline: none;
	text-decoration: none;
}

p {
	padding: 0;
	margin: 0 0 30px 0;
}

h1, h2, h3, h4, h5, h6 {
	font-family: "Montserrat", sans-serif;
	font-weight: 400;
	margin: 0 0 20px 0;
	padding: 0;
}

/* Back to top button */
.back-to-top {
	position: fixed;
	display: none;
	background: linear-gradient(45deg, #1de099, #1dc8cd);
	color: #fff;
	padding: 2px 20px 8px 20px;
	font-size: 16px;
	border-radius: 4px 4px 0 0;
	right: 15px;
	bottom: 0;
	transition: none;
}

.back-to-top:focus {
	background: linear-gradient(45deg, #1de099, #1dc8cd);
	color: #fff;
	outline: none;
}

.back-to-top:hover {
	background: #1dc8cd;
	color: #fff;
}

/*-----------------------
# Header
------------------------*/
#header {
	padding: 30px 0;
	height: 92px;
	position: fixed;
	left: 0;
	top: 0;
	right: 0;
	transition: all 0.5s;
	z-index: 997;
}

#header #logo {
	float: left;
}

#header #logo h1 {
	font-size: 36px;
	margin: -4px 0 0 0;
	padding: 0;
	line-height: 1;
	display: inline-block;
	font-family: "Montserrat", sans-serif;
	font-weight: 300;
	letter-spacing: 3px;
	text-transform: uppercase;
}

#header #logo h1 a, #header #logo h1 a:hover {
	color: #fff;
	font-weight: 400;
}

#header #logo img {
	padding: 0;
	margin: 0;
}

@media (max-width: 768px) {
	#header #logo h1 {
		font-size: 28px;
		margin-top: 0;
	}
	#header #logo img {
		max-height: 40px;
	}
}

#header.header-fixed {
	background: linear-gradient(45deg, #1de099, #1dc8cd);
	padding: 20px 0;
	height: 72px;
	transition: all 0.5s;
}

/*--------------------------------
# Intro Section
---------------------------------*/
#intro {
	width: 100%;
	height: 100vh;
	background: linear-gradient(45deg, rgba(29, 224, 153, 0.8), rgba(29, 200, 205, 0.8)), url(https://photos-3.dropbox.com/t/2/AACDKbR1f6_EXTgV8F_o57CGXOPdJxWU_Vb3MInyN75m7Q/12/291859189/png/32x32/1/_/1/2/martins-zemlickis-57243-unsplash.jpg/EKDw2ZoCGOIBIAIoAg/Bdpgs3jBfJ8XokzzSeHiPElPu21uHturUrO8Gx2y9Mk?size=1280x960&size_mode=3) center top no-repeat;
	background-size: cover;
	position: relative;
}

@media (min-width: 1024px) {
	#intro {
		background-attachment: fixed;
	}
}

#intro .intro-text {
	position: absolute;
	left: 0;
	top: 30%;
	right: 0;
	height: calc(50% - 60px);
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
	flex-direction: column;
}

#intro h2 {
	margin: 30px 0 10px 0;
	padding: 0 15px;
	font-size: 48px;
	font-weight: 400;
	line-height: 56px;
	color: #fff;
}

@media (max-width: 768px) {
	#intro h2 {
		font-size: 28px;
		line-height: 36px;
	}
}

#intro p {
	color: #fff;
	margin-bottom: 20px;
	padding: 0 15px;
	font-size: 24px;
}

@media (max-width: 768px) {
	#intro p {
		font-size: 18px;
		line-height: 24px;
		margin-bottom: 20px;
	}
}

#intro .btn-get-started {
	font-family: "Montserrat", sans-serif;
	font-weight: 400;
	font-size: 16px;
	letter-spacing: 1px;
	display: inline-block;
	padding: 8px 28px;
	border-radius: 50px;
	transition: 0.5s;
	margin: 10px;
	border: 2px solid #fff;
	color: #fff;
}

#intro .btn-get-started:hover {
	color: #1dc8cd;
	background: #fff;
}

#intro .product-screens {
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;
	overflow: hidden;
	text-align: center;
	width: 100%;
	height: 50%;
}

#intro .product-screens img {
	box-shadow: 0px -2px 19px 4px rgba(0, 0, 0, 0.29);
}

#intro .product-screens .product-screen-1 {
	position: absolute;
	z-index: 30;
	left: calc(50% + 54px);
	bottom: 0;
	top: 30px;
}

#intro .product-screens .product-screen-2 {
	position: absolute;
	z-index: 20;
	left: calc(50% - 154px);
	bottom: 0;
	top: 90px;
}

#intro .product-screens .product-screen-3 {
	position: absolute;
	z-index: 10;
	left: calc(50% - 374px);
	bottom: 0;
	top: 150px;
}

@media (max-width: 767px) {
	#intro .product-screens .product-screen-1 {
		position: static;
		padding-top: 30px;
	}
	#intro .product-screens .product-screen-2, #intro .product-screens .product-screen-3 {
		display: none;
	}
}

/*--------------------------------------------------------------
# Navigation Menu
--------------------------------------------------------------*/
/* Nav Menu Essentials */
.nav-menu, .nav-menu * {
	margin: 0;
	padding: 0;
	list-style: none;
}

.nav-menu ul {
	position: absolute;
	display: none;
	top: 100%;
	left: 0;
	z-index: 99;
}

.nav-menu li {
	position: relative;
	white-space: nowrap;
}

.nav-menu > li {
	float: left;
}

.nav-menu li:hover > ul,
.nav-menu li.sfHover > ul {
	display: block;
}

.nav-menu ul ul {
	top: 0;
	left: 100%;
}

.nav-menu ul li {
	min-width: 180px;
}

/* Nav Menu Arrows */
.sf-arrows .sf-with-ul {
	padding-right: 30px;
}

.sf-arrows .sf-with-ul:after {
	content: "\f107";
	position: absolute;
	right: 15px;
	font-family: FontAwesome;
	font-style: normal;
	font-weight: normal;
}

.sf-arrows ul .sf-with-ul:after {
	content: "\f105";
}

/* Nav Meu Container */
#nav-menu-container {
	float: right;
	margin: 0;
}

@media (max-width: 768px) {
	#nav-menu-container {
		display: none;
	}
}

/* Nav Meu Styling */
.nav-menu a {
	padding: 0 8px 10px 8px;
	text-decoration: none;
	display: inline-block;
	color: #ffffff;
	font-family: "Montserrat", sans-serif;
	font-weight: 600;
	font-size: 14px;
	outline: none;
}

.nav-menu > li {
	margin-left: 10px;
}

.nav-menu ul {
	margin: 4px 0 0 0;
	padding: 10px;
	box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
	background: #fff;
}

.nav-menu ul li {
	transition: 0.3s;
}

.nav-menu ul li a {
	padding: 10px;
	color: #333;
	transition: 0.3s;
	display: block;
	font-size: 13px;
	text-transform: none;
}

.nav-menu ul li:hover > a {
	color: #1dc8cd;
}

.nav-menu ul ul {
	margin: 0;
}

/* Mobile Nav Toggle */
#mobile-nav-toggle {
	position: fixed;
	right: 0;
	top: 0;
	z-index: 999;
	margin: 20px 20px 0 0;
	border: 0;
	background: none;
	font-size: 24px;
	display: none;
	transition: all 0.4s;
	outline: none;
	cursor: pointer;
}

#mobile-nav-toggle i {
	color: #fff;
}

@media (max-width: 768px) {
	#mobile-nav-toggle {
		display: inline;
	}
}

/* Mobile Nav Styling */
#mobile-nav {
	position: fixed;
	top: 0;
	padding-top: 18px;
	bottom: 0;
	z-index: 998;
	background: rgba(52, 59, 64, 0.9);
	left: -260px;
	width: 260px;
	overflow-y: auto;
	transition: 0.4s;
}

#mobile-nav ul {
	padding: 0;
	margin: 0;
	list-style: none;
}

#mobile-nav ul li {
	position: relative;
}

#mobile-nav ul li a {
	color: #fff;
	font-size: 16px;
	overflow: hidden;
	padding: 10px 22px 10px 15px;
	position: relative;
	text-decoration: none;
	width: 100%;
	display: block;
	outline: none;
}

#mobile-nav ul li a:hover {
	color: #fff;
}

#mobile-nav ul li li {
	padding-left: 30px;
}

#mobile-nav ul .menu-has-children i {
	position: absolute;
	right: 0;
	z-index: 99;
	padding: 15px;
	cursor: pointer;
	color: #fff;
}

#mobile-nav ul .menu-has-children i.fa-chevron-up {
	color: #1dc8cd;
}

#mobile-nav ul .menu-item-active {
	color: #1dc8cd;
}

#mobile-body-overly {
	width: 100%;
	height: 100%;
	z-index: 997;
	top: 0;
	left: 0;
	position: fixed;
	background: rgba(52, 59, 64, 0.9);
	display: none;
}

/* Mobile Nav body classes */
body.mobile-nav-active {
	overflow: hidden;
}

body.mobile-nav-active #mobile-nav {
	left: 0;
}

body.mobile-nav-active #mobile-nav-toggle {
	color: #fff;
}

/*------------------------------------
# Sections
-------------------------------------*/
/* Sections Header
--------------------------------*/
.section-header .section-title {
	font-size: 32px;
	color: #111;
	text-align: center;
	font-weight: 400;
}

.section-header .section-description {
	text-align: center;
	padding-bottom: 40px;
	color: #777;
	font-style: italic;
}

.section-header .section-divider {
	display: block;
	width: 60px;
	height: 3px;
	background: #1dc8cd;
	background: linear-gradient(0deg, #1dc8cd 0%, #55fabe 100%);
	margin: 0 auto;
	margin-bottom: 20px;
}

/* Section with background
--------------------------------*/
.section-bg {
	background: #eff5f5;
}

/* Our Team Section
--------------------------*/
#team {
	padding: 60px 0;
	overflow: hidden;
}

#team .member {
	text-align: center;
	margin-bottom: 20px;
}

#team .member .pic {
	margin-bottom: 15px;
	overflow: hidden;
	height: 260px;
}

#team .member .pic img {
	max-width: 100%;
}

#team .member h4 {
	font-weight: 700;
	margin-bottom: 2px;
	font-size: 18px;
}

#team .member span {
	font-style: italic;
	display: block;
	font-size: 13px;
}

#team .member .social {
	margin-top: 15px;
}

#team .member .social a {
	color: #b3b3b3;
}

#team .member .social a:hover {
	color: #1dc8cd;
}

#team .member .social i {
	font-size: 18px;
	margin: 0 2px;
}

/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/
#footer {
	background: #fff;
	box-shadow: 0px 0px 12px 0px rgba(0, 0, 0, 0.1);
	padding: 30px 0;
	color: #333;
	font-size: 14px;
}

#footer .credits {
	font-size: 13px;
	color: #888;
}

#footer .footer-links a {
	color: #666;
	padding-left: 15px;
}

#footer .footer-links a:first-child {
	padding-left: 0;
}

#footer .footer-links a:hover {
	color: #1dc8cd;
}



/* ---------------------------
Tambahan
--------------------------- */
/* Style the list */
.breadcrumb {
	margin-top: 50px;
}

ul.breadcrumb {
	padding: 5px 15px;
	list-style: none;
	background-color: #f8f9fa;
}


/* Display list items side by side */
ul.breadcrumb li {
	display: inline;
	font-size: 12px;
}

/* Add a slash symbol (/) before/behind each list item */
ul.breadcrumb li+li:before {
	padding: 8px;
	color: black;
	content: "/\00a0";
}

/* Add a color to all links inside the list */
ul.breadcrumb li a {
	color: #0275d8;
	text-decoration: none;
}

/* Add a color on mouse-over */
ul.breadcrumb li a:hover {
	color: #01447e;
	text-decoration: underline;
}

.title_post {
	margin: 30px;
}

